body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-spaced {
    margin-right: 30px;
}

.navbar-logo {
    width: 300px;
    height: 120px;
}

.navbar-custom {
    background-color: #F3f3f3;
}

footer {
    margin-top: auto;
    background-color: #8c94cc;
}

.footer-logo {
    background-color: #f3f3f3;
    padding-top: 15px;
}

.footer-logo img {
    width: 200px !important;
    height: 90px !important;
}

.btn-purple {
    background-color: #8c94cc !important;
    border-color: #8c94cc !important;
    width: 50%;
    text-align: center;
}

.payment-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.payment-form {
    width: 50%;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.card-element-box {
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    min-height: 50px;


}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 上下間隔 */
}
