body {
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-spaced {
    margin-right: 30px;
}

.navbar-logo {
    width: 300px;
    height: 120px;
}

.navbar-custom {
    background-color: #F3f3f3;
}

footer {
    margin-top: auto;
    background-color: #8c94cc;
}

.footer-logo {
    background-color: #f3f3f3;
    padding-top: 15px;
}

.footer-logo img {
    width: 200px !important;
    height: 90px !important;
}

.btn-purple {
    background-color: #8c94cc !important;
    border-color: #8c94cc !important;
}
