body {
    background-color: #f3f3f3;
}

.btn-spaced {
    margin-right: 30px;
}

.navbar-nav .nav-item {
    margin: 0 20px 0 10px;
}
.btn-quickcart {
    background-color: #8c94cc;
    color: #fff;
    border: none;
}
.btn-quickcart:hover {
    background-color: #7b83b8;
    color: #fff;
}
.nav-item .btn-register, .nav-item .btn-login {
    background-color: #8c94cc;
    border-color: #8c94cc;
}

.nav-item .btn-register:hover, .nav-item .btn-login:hover {
    background-color: #7b83b8;
    border-color: #7b83b8;
}
